header {
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;

    &__left {
        color: white;
        font-family: 'Permanent Marker';
        font-size: 32px;
    }

    &__right {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            margin: 0 10px;
            color: white;
            font-family: @alpha-font;
            &:hover {
                color: blue;
            }
        }
    }
}