.hero {
    height: 100vh;
    background-color: #bb0000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23bb0000' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23b5000e' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23af0017' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23a8001e' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23a00024' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23970029' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%238e002d' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23840030' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%237b0032' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23700034' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23660034' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%235b0034' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23510033' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23460032' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%233c002f' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2332022c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23290228' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        background: lighten(black,10%);
        box-shadow: 0 0 20px 20px rgba(0,0,0,0.5);
        width: 60%;
        height: 110%;
        border-bottom-right-radius: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

#hero-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    h1, h2 {
        color: white;
        margin: 0;
        font-family: @alpha-font;
    }

    h1 {
        font-size:52px;
        margin-bottom: 15px;
    }

    h2 {
        margin-bottom: 25px;
    }

    a {
        box-shadow: 0 0 20px 5px rgba(0,0,0,0.5);
    }
}