

// VARS

@primary-colour: #8f0027;

@alpha-font: 'Lato', sans-serif;

// GLOBAL STYLES

body {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
}

p {
    color: red;
}

// COMPONENT STYLES

.btn {
    background: @primary-colour;
    color: white;
    padding: 8px 26px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: none;
    transition: all 0.2s ease-in;
    font-family: @alpha-font;
    margin: 0;
    &:hover {
        background: white;
        color: @primary-colour;
    }
}

// Header

@import 'header.less';

// Hero 

@import 'hero.less';